h2, .social_icon, .wechat, .line, .social{
    position:relative;
    top:20%;
    text-align:center;
}
.social_icon img{
    width:50px;
    padding:5px;
    margin:5px;
    cursor:pointer;
}
.wechat, .line{
//    opacity:0;
    display:none;
}
.wechat p, .line p{
    font-size:18px;
}
.wechat img, .line img{
    width:25%;
}
.box{
    border:1px solid;
}
.one{
    border:1px solid;
}
.two{
    border:1px solid;
}
