.window_big {
    width:100%;
    position: fixed;
    top:70px;
    left: 3%;
    max-width: 760px;
}

.window_small {
    width:100%;
    position: fixed;
    top:70px;
    left:3%;
    min-width:75px;
}

/* Style the links inside the navigation bar */
.home{
    margin-right:7%;
    border-bottom:none;
}
.icon{
    width:80px;
    height:80px;
    margin-top:-40px;
    opacity:0.2;
    animation: 0.5s fadein;
    animation-delay: 1.5s;
    animation-fill-mode:forwards;
}
.window_big a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    padding-left: 5px;
    padding-right: 5px;

    margin-right:5%;
    border-bottom: solid 1px transparent;
    font-family: lucida grande;

}

.window_small a {
/*    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    margin-bottom:10%;
    margin-top: 8%;
    border-bottom: solid 1px transparent;*/
    visibility: hidden;
}
.window_small > .home{
    visibility: visible;
}
.menu{
    float: right;
    margin-top:-25px;
}
.about:hover, .projects:hover, .contact:hover {
    transition: border-bottom-color .2s ease-in;
    border-bottom: solid 1px black;
}
.icon:hover{
    cursor: pointer;
}

/*style for the step animation*/
.steps{
    position:relative;
    top:170px;
    width:100%;
 //   animation: 0.5 ease-out 2s fadeout;
  //  animation-fill-mode: forwards;
}
.steps p{
    font-size:18px;
    position:relative;
    width:40%;
    margin-top:16px;
    font-family:sans-serif;
  }
#s0{
    padding-left:200px;
    text-shadow: 5px 5px 15px #fe0000, -5px -5px 15px #fe0000;
    animation:1.5s s0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#s1{
    padding-left:300px;
    text-shadow: 5px 5px 15px #f09600, -5px -5px 15px #f09600;
    animation:1.5s s1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#s2{
    padding-left:400px;
    text-shadow: 5px 5px 15px #55c149, -5px -5px 15px #55c149;
    animation:1.5s s2;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#s3{
    padding-left:500px;
    text-shadow: 5px 5px 15px #00b1f3, -5px -5px 15px #00b1f3;
    animation:1.5s s3;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes s0{
    60%{transform: scale(1)}
    75%{transform: scale(1.5)}
    90%{transform: scale(1);
        opacity:1}
    100%{opacity: 0}
}
@keyframes s1{
    35%{transform: scale(1)}
    50%{transform: scale(1.5)}
    65%{transform: scale(1)}
    90%{opacity: 1}
    100%{opacity: 0}
}
@keyframes s2{
    10%{transform: scale(1)}
    25%{transform: scale(1.5)}
    40%{transform: scale(1)}
    90%{opacity: 1}
    100%{opacity: 0}
}
@keyframes s3{
    10%{transform: scale(1.5)}
    25%{transform: scale(1)}
    90%{opacity: 1}
    100%{opacity: 0}
}
/*style for first intro*/
.intro{
    position:fixed;
    top:140px;
    width:100%;
    height:70%;
    background-color: rgba(214, 209, 145, 0.27);
}

.ball{
    height:40px;
    width: 40px;
    position: absolute;
    top: 260px;
    left: 540px;
    animation:1.5s bounce cubic-bezier(0.38, 0.36, 0.51, 0.58);;
    animation-fill-mode: forwards;
}

/*keyframes*/
@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}
@keyframes fadeout{
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes bounce{
    0%{transform: translateY(0);}
    13%{transform: translate(-50px,-70px)}
    25%{transform: translate(-100px,-35px)}
    38%{transform: translate(-160px,-110px)}
    50%{transform: translate(-220px,-75px)}
    63%{transform: translate(-275px,-170px)}
    75%{transform: translate(-330px,-115px)}
    88%{transform: translate(-390px,-150px);
        opacity: 1;}
    100%{transform: translate(-450px,-200px);
                             opacity: 0;}
}

@keyframes zoomout{
    0%{transform: scale(1)}
    50%{transform: scale(1.5)}
    100%{transform: scale(1)}
}

/*
.bigicon{
    position:relative;
    width: 300px;
    height:300px;
    left:50%;
    margin-left:-150px;
    top:30%;
    margin-top:-150px;
}

.icon{
    position:absolute;
    left:50%;
    margin-left: -80px;
    top:50%;
    margin-top:-80px;
    opacity: 0;
    animation: 2s fadein;
    animation-delay: 1s;
    animation-fill-mode:forwards;
}

p#s1, p#s2, p#s3{
    position:relative;
    font-size:20px;
    }

p#s1{
    top: 68%;
    left: 90%;
    color: #0030ff;
    font-weight: 900;
    font-family: Stencil Std;
}
p#s2{
    top: -1%;
    left: 59%;
    color: #ff4104;
    font-family: cursive;
    font-weight: 900;
}
p#s3{
    top:61%;
    left:11%;
    color:#2E2B05;
    font-family: courier;
    font-weight: 900;
}
*/
